# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Build output
/build/
/dist/
/*.tgz

# React
# Next.js build output
.next/
out/

# React Native
# build directories
android/build/
ios/build/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# npm package-lock and yarn.lock files (if you don't want to track the lock files)
# package-lock.json
# yarn.lock

# IDE/editor directories and files
.idea/
*.sublime-project
*.sublime-workspace

# WebSocket Debugging
websocket-debug.log
